$head-height: 50px;

.head_outer {
    background-color: $color1;
    color: #ffffff;
    line-height: $head-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    .head {
        position: relative;
        margin: 0 auto;
        max-width: $width;
        line-height: inherit;

        a {
            line-height: inherit;
            color: #FFF;
        }

        a.logo {
            line-height: inherit;
            display: inline-block;
            @include font-size(18px);

            .liquid, .feedback {
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .nav {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;

            input[name=q] {
                position: absolute;
                top: 12px;
                right: 430px;
                width: 300px;
                @include border-radius(4px);
                @include font-size(14px);
                padding: 5px 10px 4px 10px;
                color: #666;
                background-color: #FFF;
                border: none;
                line-height: 1;
                outline: none;
            }

            #member_menu {
                margin-right: 100px;
                line-height: $head-height;

                a { 
                    @include font-size(14px);
                    text-decoration: none;

                    span {
                        display: inline-block;
                        padding: 0 5px;
                    }
                }
            }

            .help {
                position: absolute;
                right: 0;
                top: 0;
                @include font-size(24px);

                a i {
                    line-height: $head-height;
                }

            }

            a.notifications {
                position: absolute;
                text-decoration: none;
                top: 17px;
                right: 50px;

                .count {
                    position: absolute;
                    color: #FFF;
                    top: -20px;
                    right: -9px;
                }
            }
        }
    }
}
