$nav-background:        $clouds;
$nav-label:             $silver;
$nav-label-hover:       darken($clouds, 10%);
$nav-label-active:      rgba(255,255,255,1);
$bread-height:          32px;
$bread-arrow:           5px;

.breadcrumbs {
    &:before, &:after {
        position: absolute;
        content: " ";
        display: block;
        top: 0;
        width: 0;
        height: 0;
        // transition: border-color 0.1s linear;
    }
    &:before {
        z-index: 2;
        left: -1*$bread-arrow;
        border-left: $bread-arrow solid transparent;
        border-top: $bread-height/2 solid $nav-label;
        border-bottom: $bread-height/2 solid $nav-label;
    }
    &:after {
        z-index: 3;
        right: -1*$bread-arrow;
        border-left: $bread-arrow solid $nav-label;
        border-top: $bread-height/2 solid transparent;
        border-bottom: $bread-height/2 solid transparent;
    }
}

.title_outer {
    position: absolute;
    line-height: $bread-height;
    background-color: $clouds;
    z-index: 20;
    top: 60px;
    left: 0;
    width: 100%;

    .tooltip > span > span {
        width: 140px;
        margin-left: -70px;
    }


    .slot_title {
        max-width: $width;
        height: $bread-height;
        margin: 0 auto;

        > ul {
            li {
                color: #000;
                
                a.delegation_info img {
                    display: none;
                }
                > a {
                    color: #333;
                    // text-decoration: underline
                }
                > a:hover {
                    text-decoration: underline;
                    color: #000;
                }

                &:last-child {
                    margin-right: 15px !important;
                }

                > i {
                    margin-left: 8px;
                }
            // }
        	// li:not(.home):not(.unit):not(.area):not(.issue):not(.last):last-child {
        		// padding-left: 15px;
        	// }
            // li.initiative {
            //     display: inline-block;
            //     margin-left: 15px;

            //     a {
            //         line-height: $bread-height;
            //     }
            // }

            // li {
            // li:not(.initiative) {
                display: inline-block;

                // > a {
                    @extend .breadcrumbs;

                    margin-left: 7px;
                    padding: 0 10px 0 10px;
                    background-color: $nav-label;
                    display: inline-block;
                    position: relative;
                    line-height: $bread-height;
                    // color: #333;

                    // &:hover {
                    //     background-color: $nav-label-hover;
                    //     &:before {
	                   //      border-top-color: $nav-label-hover;
	                   //      border-bottom-color: $nav-label-hover;
                    //     }
                    //     &:after {
                    //     	border-left-color: $nav-label-hover;
                    //     }
                    // }

                    i, a {
                        line-height: $bread-height;
                    }



                // }

                &.unit a span:before {
                    @extend .fa;
                    content: "\f0ac";
                    margin-right: $bread-arrow;
                }
                &.area a span:before {
                    @extend .fa;
                    content: "\f0b1";
                    margin-right: $bread-arrow;
                }

                &.issue.interested a span:after {
                    @extend .fa;
                    content: "\f0a2";
                    margin-left: $bread-arrow;
                }
                &.initiative.supported span:after {
                    @extend .fa;
                    content: "\f087";
                    margin-left: $bread-arrow;
                }
                


                // &.home > a {
                &.home {
                    padding: 0;
                    margin: 0;
                    // background-color: transparent;

                    > a {
                        padding: 0 10px 0 10px;
                    }

                    &:before {
                        display: none;
                    }
                }

                .delegation_info, .star {
                    display: none;
                }
            }
        }


        // .initiative, a .label {
        //     display: none;
        // }

        // .delegation_info {
        //     background-color: #ffffff;
        //     color: #000000;
        //     border-radius: 2px;
        //     padding-right: 3px;
        //     margin-bottom: 12pt;

        //     a {
        //         color: #000000;
        //     }
        // }
    }
}

@media (max-width: $screenTablet) {
    .title_outer {
        top: 60px;

        .slot_title {
            width: 100%;
        }

        li.area, li.unit {
            // display: none !important;
        }

    }
}


@media (max-width: $screenMobile) {
    .title_outer {
        top: 100px;

        .slot_title { 
            width: 100%;
        }

        li.area, li.unit {
            display: none !important;
        }
    }
}

