.alink {
	color: $belize-hole;

	&:hover {
		text-decoration: underline;
	}
}

.btn2 {
	padding: 4px 6px;
	// background-color: $color1;
	display: inline-block;
	// border: 1px solid #666;
	@include border-radius(5px);
	color: #FFF;

	&:hover {
		// background-color: darken($color1, 5%);
	}
}

.btn-support {

	@extend .btn2;
	a {
		display: none;
	}

	> div {
		display: none;
	}

	&.supporter {
		background-color: $nephritis;
		color: #FFF;

		&:hover {
			background-color: $pomegranate;

			a {
				display: inline-block;
			}
		}
	}
}


.bargraph {
    display: inline-block;
    height: 11px;

    > div {
	    margin: 0;
	    padding: 0;
	    display: inline-block;
	    height: inherit;
	}
}


.btn-interest {
	visibility: hidden;

	br {
		display: none;
	}

	i {
		visibility: visible;
	}

	a {
		position: absolute;
		top: 20px;
		right: 20px;
		@extend .btn2;
		visibility: visible;
	}
}