$process-height       : 60px;
// $process-border-width : 1px;
// $process-border-color : #CCC;
$process-ratio        : 3;
// $process-background   : #CCC;
$process-color        : rgba(255,255,255,0.5);
$process-current      : rgba(255,255,255,0.9);
$process-finished     : rgba(255,255,255,0.5);
$process-radius       : 6px;


.phases {
    position: absolute;
    top: 60px;
    margin-left: 290px;
    z-index: 10;
    background-color: transparent !important;

    h1.h1 {
        margin: 10px 0;
    }

    .phase {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 155px;
        height: $process-height;
        font-size: 17px;
        background-color: $process-color;
        padding-left: 10px;
        margin-right: 22px;

        &:first-child {
            @include border-radius-separate($process-radius, 0, $process-radius, 0);
        }

        &:nth-child(4) {
            @include border-radius-separate(0, $process-radius, 0, $process-radius);

            .tooltip {
                right: 15px;
            }
        }

        .tooltip {
            position: absolute;
            top: 20px;
            right: 3px;

            &:hover {
                color: $color1;                
            }

            &:before {
                content: "\f05a";
                @extend .fa;
            }
        }

        .status, .time, .text {
            position: absolute;
            width: 100%;
            line-height: 1;
            text-align: left;
            padding-left: 20px;
        }

        .text {
            top: 13px;
        }

        .status, .time {
            bottom: 11px;
            @include font-size(13px);
            color: #333;
        }

        &.finished {
            background-color: $process-finished;

            &:after {
                border-left-color: $process-finished;
            }

            &:before {
                border-top-color: $process-finished;
                border-bottom-color: $process-finished;
            }
        }

        &.current {
            background-color: $process-current;

            &:after {
                border-left-color: $process-current;
            }

            &:before {
                border-top-color: $process-current;
                border-bottom-color: $process-current;
            }

            .text {
                font-weight: bold;
            }
        }

        &:before, &:after {
            position: absolute;
            content: " ";
            display: block;
            top: 0;
            width: 0;
            height: 0;
            transition: border-color 0.1s linear;

            // position: absolute;
            // content: " ";
            // display: block;
            // width: 0;
            // height: 0;
            // top: 50%;
            // margin-top: -1 * $process-height / 2;
        }

        &:before {
            z-index: 2;
            left: -20px;
            border-left: $process-height / $process-ratio solid transparent;
            border-top: $process-height / 2 solid $process-color;
            border-bottom: $process-height / 2 solid $process-color;

            // z-index: 2;
            // left: 1px;
            // border-left: $process-height / $process-ratio solid $process-border-color;
            // border-top: $process-height / 2 solid transparent;
            // border-bottom: $process-height / 2 solid transparent;           
        }

        &:after {
            z-index: 3;
            right: -20px;
            border-left: $process-height / $process-ratio solid $process-color;
            border-top: $process-height / 2 solid transparent;
            border-bottom: $process-height / 2 solid transparent;

            // z-index: 3;
            // right: -20px;
            // border-left: $process-height / $process-ratio solid $process-background;
            // border-top: $process-height / 2 solid transparent;
            // border-bottom: $process-height / 2 solid transparent;           
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
        
        &:nth-child(4) {
            &:after {
                display: none;
            }
        }
    }
}

@media (max-width: $screenTablet) {
    .phases {
        margin-left: 30%;
        width: 67%;
        // top: 60px;
        // margin: 0;

        .phase {
            width: 20%;

            .status, .time, .text {
                padding-left: 2px;
            }

            .tooltip {
                display: none;
            }
        }
    }
}


@media (max-width: $screenMobile) {
    .phases {

        width: 100%;
        top: 60px;
        margin: 0;

        .phase {

            margin-right: 0;
            @include border-radius(0px);
            // position: relative;
            // display: inline-block;
            // text-align: center;
            width: 25vw;
            margin: 0;
            // height: $process-height;
            // font-size: 17px;
            // background-color: $process-color;
            // padding-left: 10px;
            // margin-right: 22px;
        }
    }
}
