// $issue-bg: rgba(0,0,0,0.07);;

.e-initiative {
    position: relative;
    background-color: #FFF;
    line-height: 40px;
    margin-top: 5px;
    text-overflow: ellipsis;
    // overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
    @include border-radius(3px);

    .bargraph {
        position: absolute;
        right: 20px;
        top: 14px;
    }

    .icon16 {
        display: none;
    }

    .initiative_name {
        // &:before {
        //     @extend .fa;
        //     content: "\f0eb";
        //     margin-right: 5px;
        // }
        a:hover {
            // color: 
            text-decoration: underline;
        }

        i {
            // position: absolute;
            // top: 12px;
            // right: 135px;
            // cursor: pointer;
            margin-left: 10px;

            &:hover {
                color: $belize-hole;
            }
        }
    }
}

.e-issue {
    position: relative;
    margin-bottom: 50px;
    padding: 15px 0px 20px 0px;
    background-color: $belize-hole;
    @include border-radius(4px);
    outline: none;

}

ul.initiatives {
    br {
        display: none;
    }

    > .result {
        padding: 0 20px 10px 20px;
    }

    li {
        position: relative;
        padding: 0 20px;

        .initiative {
            @extend .e-initiative
        }

        .result {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 40px;
            @include font-size(14px);
            color: $text-light;
            padding-right: 20px;
        }
    }
}


.section {
    position: relative;

    input, textarea {
        padding: 6px 10px;
        border: none;
        @include border-radius(4px);
        @include font-size(15px);
        outline: none;
        margin: 5px 0;

        &:focus {
            outline: none;
        }
    }

    .tooltip > span > span {
        width: 140px;
        margin-left: -70px;
        text-align: center;
    }
    
    .sectionHead {
    }

    &.issues {

        .row.event {
            @extend .e-issue;

            .issue_context {
                padding: 45px 20px 10px 20px;

                i {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: #FFF;

                    &:hover {
                        color: $silver;
                    }
                }

                a.delegation_info {
                    position: absolute;
                    top: 20px;
                    right: 60px;

                    img {
                        width: 40px;
                        height: 40px;
                        @include border-radius(20px);
                    }
                }

                a.unit, a.area {
                    display: inline-block;
                    color: #333;
                    line-height: 25px;
                    padding: 0 8px;
                    background-color: $silver;
                    @include border-radius(4px);

                    &:before {
                        @extend .fa;
                        margin-right: 8px;
                    }

                    &:hover {
                        background-color: $clouds;
                    }

                    // &:after {
                    //     position: absolute;
                    //     content: " ";
                    //     display: block;
                    //     top: 0;
                    //     width: 0;
                    //     height: 0;
                    //     z-index: 3;
                    //     right: -8px;
                    //     border-left: 8px solid rgba(0,0,0,0.0);
                    //     border-top: 13px solid transparent;
                    //     border-bottom: 13px solid transparent;
                    // }

                }

                a.unit {
                    // background-color: rgba(0,0,0,0.2);
                    left: 0px;

                    &:before {
                        content: "\f0ac";
                    }
                }

                a.area {
                    // background-color: rgba(0,0,0,0.1);
                    left: 130px;

                    &:before {
                        content: "\f0b1";
                    }
                }
            }

            .issue_info {
            	position: absolute;
            	top: 20px;
            	left: 20px;
                // margin-bottom: 5px;
                // padding: 0 20px;
                @include font-size(20px);
                font-weight: bold;

                a {

                    color: #FFF;
                    // &:before {
                    //     @extend .fa;
                    //     content: "\f192";
                    //     margin-right: 10px;
                    // }
                    &:hover {
                        text-decoration: underline;
                    }                 
                }
            }

            .event_info {
                color: #FFF;
                @include font-size(13px);
                margin-bottom: 12px;
                padding: 0 20px;

                .event_time {
                }
            }

            .initiative_list {

            }
        }
    }

    &.section-issue {
        position: relative;
        @extend .e-issue;
        padding: 150px 0px 20px 0px;
        z-index: 2;

        .btn-interest {
        	position: absolute;
        	top: 20px;
        	right: 20px;
        	display: none;

        	br {
        		display: none;
        	}

        	i {
        		display: block;
        	}
        }

        .sectionHead {
        	position: absolute;
        	top:20px;
        	left: 20px;

        	h1 {
        		color: #FFF;
        		@include font-size(22px);
        	}
        }

        .tabs {
            position: absolute;
            bottom: -23px;
            right: 5px;

            a {
                padding: 5px 15px;
                // line-height: 25px;
                @include border-radius-separate(0,0,5px,5px);

                &.active {
                    color: #FFF;
                    background-color: $belize-hole;
                }
            }
        }

        .title {
            // padding: 0 20px;
        }

        ul.initiatives {
            br {
                display: none;
            }

            .result {
                padding: 0 20px 10px 20px;
            }

            li {
                // @extend .e-initiative;
            }
        }

        h1 {
            // &:before {
            //     @extend .fa;
            //     content: "\f192";
            //     margin-right: 10px;
            // }
        }
    }

    &.section-initiative, &.section-initiative-new, &.section-drafthistory {

        padding: 170px 20px 20px 20px;
        background-color: $belize-hole;

        > .sectionHead {
            background-color: #FFF;
            padding: 15px 20px 0 20px;
        }
        > .row {
            background-color: #FFF;
            padding: 10px 20px 20px 20px;
        }

        h1 {
            @include font-size(20px);

            // &:before {
            //     @extend .fa;
            //     content: "\f0eb";
            //     margin-right: 10px;
            // }
        }

        .support {
            position: absolute;
            top: 135px;
            left: 20px;
            color: #FFF;

            .bargraph {
                position: absolute;
                top: 55px;
                right: -592px;
            }
        }

        .btn-support {
            position: absolute;
            top: 35px;
            right: 10px;
        }

        .initiators {
        	position: absolute;
        	top: 20px;
        	left: 20px;

            span span {
                padding-left: 10px;
                color: #FFF;
            }
        }

        .links {
        	position: absolute;
        	top: 20px;
        	right: 20px;
            @include font-size(14px);
            color: #333;
        }
    }

    &.suggestions {
        margin: 20px 0 40px 0;


        .sectionHead {
            h1 {
                // margin: 0 0 10px 0;
            }
            > div {
                display: none;
            }
        }

        .suggestion {
            position: relative;
            margin-top: 50px;
            background-color: rgba(255,255,255,0.7);
            padding: 10px 20px;
            // @include border-radius(10px);
            // border: 1px solid $color2;

            .suggestion-rating {
                position: absolute;
                right: 0px;
                top: -28px;
            }

            a.suggestion-more, a.suggestion-less, a.suggestion-details {
                position: absolute;
                bottom: -22px;
                color: #333;

                &:hover {
                    color: $belize-hole;
                }
            }

            a.suggestion-more, a.suggestion-less {
                left: 0;                
            }

            a.suggestion-details {
                right: 0;
            }

            span.microAvatar {
                position: absolute;
                top: -35px;
                left: 5px;
            }

            &.folded {
                .rating {
                    display: none;
                }
                a.suggestion-less {
                    display: none;
                }
            }
            &.unfolded {
                .rating {
                    display: block;
                }
                a.suggestion-more {
                    display: none;
                }
            }
        }

        .suggestion-text {
            p {
                margin-bottom: 5px;
            }
            a {
                // border: 1px solid #333;
                // background-color: rgba(0,0,0,0.1);
                // padding: 3px 8px;
                // margin: 5px 5px 0 0;
                // @include border-radius(4px);

                &:hover {
                    // background-color: rgba(0,0,0,0.2);
                }
            }
        }
    }

    &.detail {
    	margin-top: 30px;
    	color: #666;

    	.sectionHead {
    		h1 {
    			color: #666;
    			margin-bottom: 10px;
    		}
    	}

    	.sectionRow {
    		@include font-size(13px);
    	}

        .sectionHead {            
            h2 {
                margin: 20px 0 20px 0;
                @include font-size(18px);
            }
        }
    }

    &.section-member {

    }

    &.section-login {
        .sectionHead {
            position: relative;

            .right {
                position: absolute;
                top: 0;
                right: 0;

                a {
                    padding: 0 10px;
                }
            }
        }

        .row {
            label {
                display: inline-block;
                width: 120px;
            }
        }
    }

    &.section-history {
        padding-bottom: 0;

        .ui_filter {
            display: none;
        }

        .event {
            border-top: 5px solid #FFF;

            .event_info {
                color: #FFF;
                padding: 15px 20px;
            }
        }
        .initiative_list {
            padding-bottom: 20px;

            ul li .initiative:first-child {
                margin: 0;
            }
        }
    }

}
