.btn-purple {
    &:before {
        color: $amethyst;
    }
    &:hover {
        background-color: $amethyst;
        color: #FFF;

        &:before {
            color: #FFF;
        }
    }
}
.btn-green {
    &:before {
        color: $nephritis;
    }
    &:hover {
        background-color: $nephritis;
        color: #FFF;

        &:before {
            color: #FFF;
        }
    }
}
// .btn-green-inv {
//     background-color: $nephritis;
//     color: #FFF;

//     &:hover {
//         background-color: darken($nephritis, 5%);
//     }
// }

.btn-red {
    &:before {
        color: $alizarin;
    }
    &:hover {
        background-color: $alizarin;
        color: #FFF;

        &:before {
            color: #FFF;
        }
    }
}

.btn-orange {
    &:before {
        color: $orange;
    }
    &:hover {
        background-color: $orange;
        color: #FFF;

        &:before {
            color: #FFF;
        }
    }
}

.btn-blue {
    &:before {
        color: $peter-river;
    }
    &:hover {
        background-color: $peter-river;
        color: #FFF;

        &:before {
            color: #FFF;
        }
    }
}

.sidebar-head {
    line-height: 35px;
    padding: 0 10px;
    border-bottom: 1px solid #7f8c8d;    
}

.sidebar-member {
    padding: 2px 0;

    a:hover {
        color: $belize-hole;
    }

    img.member_image {
        @include border-radius(50px);
        vertical-align: middle;
        width: 40px;
        height: 40px;
    }

    a > span, a.membershow {
        display: inline-block;
        margin-left: 10px;
    }

    i.tooltip {
        position: absolute;
        line-height: 40px;
        top: 0;
        right: 10px;
    }

}

.content > .sidebar {
    display: inline-block;
    float: left;
    width: 230px;

    > div {
        margin-bottom: 20px;
    }

    > div:not(.phases) .tooltip > span > span {
        width: 140px;
        margin-left: -70px;
    }

    .takealook,
    .takealookatthe,
    .cannotfind, 
    .openthearea, 
    .tab-initiative-wikisyntax, 
    .ui_filter,
    .tab-area-sidebar img.right,
    .tab-whatcanido .sidebarHead h2,
    .tab-issue-initiative i.fa-thumbs-up,
    .browseinitiatives,
    .takealookatsuggestions,
    .ifyouliketo,
    .toargueabout,
    .addyoursupportseeabove
    {
        display: none;
    }

    .result {
        display: none;
    }

    .ui_filter_content {
    	margin-top: 0px;
    }
    .sidebarRow {
    	> div {
    		display: none;
    	}
    	h3 {
    		display: none;
    	}
    }

    .tab-index-head {

    }

    .tab-initiative-policies {
        background-color: $clouds;

        .head {
            @extend .sidebar-head;
        }
        .row {
            position: relative;
            line-height: 30px;
            padding: 0 10px 5px 10px;

            h3 {
                &:before {
                    @extend .fa;
                    content: "\f0e3";
                    width: 25px;
                    // text-align: center;
                }
            }

            br {
                display: none;
            }

            a.policy-show-details, a.policy-hide-details {
                color: $belize-hole;
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }

            .policy-details {
                line-height: 25px;
                background-color: #FFF;
                padding: 5px;
                margin-bottom: 5px;
            }
        }
    }


    .tab-issue-initiative, .tab-area-sidebar, .tab-unit-sidebar {

        .head,
        img.icon48,
        > .row > div,
        > .row > h3 {
            display: none;
        }
    }

    .tab-issue-competing {
        background-color: $clouds;
        padding-bottom: 5px;

        .head {
            @extend .sidebar-head;
        }

        ul.initiatives {
            padding: 0; //0 10px 10px 10px;

            li {
                padding: 0;
                margin-bottom: 5px;

                &.highlighted {
                    .initiative {
                        @include border-radius(0px);
                        background-color: $belize-hole;
                        color: #FFF;
                        padding: 0 10px;

                        span.initiative_name {
                             a {
                                display: inline-block;
                                max-width: 200px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            i {
                                position: absolute;
                                line-height: 30px;
                                right: 10px;
                            }
                        }
                    }
                }

                .initiative {
                    line-height: 30px;
                }

                .bargraph {
                    display: none;
                }
            }
        }

        .row {
            display: none;
        }

    }

    ul.ul {
    	li {
    		a {
                &:first-letter{
                    text-transform: capitalize;
                }

                position: relative;
    			display: block;
    			width: 100%;
    			// background-color: rgba(0,0,0,0.1);
                background-color: $btn-bg;
    			padding: 6px 10px 6px 35px;
    			color: #333;
    			margin: 5px 0;
    			@include border-radius(5px);
    			// @include font-size(14px);
    			text-align: left;
                // border: 1px solid $asbestos;

    			&:hover {
    				background-color: $belize-hole;
                    color: #FFF;
                    // border: 1px solid $midnight-blue;
                    // border: 1px solid #FFF;
    			}
                &:before {
                    position: absolute;
                    display: inline-block;
                    top: 8px;
                    left: 0;
                    text-align: center;
                    @extend .fa;
                    width: 37px;
                }
    		}

            a.choosedelegatee {
                &:before {
                    content: "\f0a4";
                }
            }
            a.membershipupdate {
                &:before {
                    content: "\f005";
                }
            }
            a.membershipupdate2 {
                @extend .btn-red;

                &:before {
                    content: "\f005";
                }
            }
            a.showdelegation, a.changerevoke, a.delegationshow, a.delegationshow2, a.delegationshow3, a.delegationshow4 {
                // @extend .btn-purple;

                &:before {
                    content: "\f0a4";
                }
            }
            a.newinitiative {
                @extend .btn-green;
                border: 2px solid $nephritis;
                &:before {
                    content: "\f055";
                }
            }
            a.updateinterest {
                @extend .btn-red;
                &:before {
                    content: "\f0f3";
                }
            }
            a.updateinterest2 {
                @extend .btn-blue;
                &:before {
                    content: "\f0f3";
                }                
            }
            a.showissue {
                display: none;
            }
            a.initiativenew {
                @extend .btn-green;
                border: 2px solid $nephritis;
                &:before {
                    content: "\f055";
                }
            }
            a.editproposal {
                &:before {
                    content: "\f044";
                }
            }
            a.action {
                &:before {
                    content: "\f234";
                }
            }
            a.revokeinitiative {
                @extend .btn-red;

                &:before {
                    // color: $alizarin;
                    content: "\f00d";
                }
            }
            a.removesupport2 {
                @extend .btn-red;

                &:before {
                    content: "\f164";
                }
            }
            a.addsupport {
                @extend .btn-green;

                &:before {
                    content: "\f164";
                }
            }
            a.newsuggestion {
                &:before {
                    content: "\f0eb";
                }
            }
            a.editprofile {
                &:before {
                    content: "\f044";
                }                
            }
            a.changeavatar {
                &:before {
                    content: "\f1c5";
                }                
            }
            a.logout {
                &:before {
                    content: "\f08b";
                }                
            }
            a.selectlanguage {
                &:before {
                    content: "\f024";
                }
            }
            a.pageview1 {
                &:before {
                    content: "\f0f3";
                }
            }
            a.pageview2 {
                &:before {
                    content: "\f0e0";
                }
            }
            a.pageview3 {
                &:before {
                    content: "\f111";
                }
            }
            a.pageview4 {
                &:before {
                    content: "\f090";
                }
            }
            a.pageview5 {
                &:before {
                    content: "\f090";
                }
            }
            a.pageview6 {
                &:before {
                    content: "\f013";
                }
            }

            a.votenow {
                &:before {
                    content: "\f0a6";
                }
            }
            a.novote {
                @extend .btn-red;
                &:before {
                    content: "\f0e0";
                }
            }
            a.makecontactprivate {
                &:before {
                    content: "\f21b";
                }
            }
            a.removefromcontact {
                @extend .btn-red;
                &:before {
                    content: "\f235";
                }
            }
            a.interest {
                @extend .btn-red;
                &:before {
                    content: "\f05e";
                }
            }
            a.chooseissue {
                &:before {
                    content: "\f0a4";
                }
            }
            a.addtolist {
                &:before {
                    content: "\f234";
                }
            }
            a.addtolist2 {
                &:before {
                    content: "\f21b";
                }
            }
            a.discard {
                @extend .btn-red;
                &:before {
                    content: "\f05e";
                }
            }
    	}
    }

    .tab-admin-policy {
        ul.ul {
            li {
                a {
                    &:before {
                        content: "\f0e3";
                    }
                }
            }
        }
    }

    .tab-members {
        background-color: $tab-bg;

        .ui_paginate_content > .row {
            @extend .sidebar-member;
        }

        > .row {
            padding: 5px 10px;
            @extend .sidebar-member;

            .delegation_scope {
                display: block;
                margin: 0 0 10px 0;
                font-weight: bold;

                &:after {
                    @extend .fa;
                    content: "\f0a4";
                    margin-left: 10px;
                }
            }
        }

    	.head {
            @extend .sidebar-head;
    	}
        .member_list {
            padding: 10px;

        	> .row {
	            // .member_thumb {
                    @extend .sidebar-member;
	            // }
	        }
        }
        a.moreLink {
            line-height: 30px;
            padding: 0 10px;
            color: $belize-hole;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tab-sidebar-units, .tab-unit-subjects {
        background-color: $tab-bg;

        h2 {
            position: relative            
        }

        .delegation_arrow {
            display: none;
        }
        a.delegation_info {
            position: absolute;
            right: 8px;
            top: 8px;

            // display: none;
            img {
                display: none;
            }

            &:before {
                @extend .fa;
                content: "\f0a4";
            }
        }
        .member_image {
            width: 20px;
            height: 20px;
            padding: 0 10px;
        }
        .head {
            // line-height: 35px;
            // background-color: rgba(0,0,0,0.2);
            // @include border-radius(4px);
            border-bottom: 1px solid $asbestos;


            h2 {
                padding: 0 10px;
                line-height: 35px;

                &:hover{
                    color: $belize-hole;
                }

                &:before {
                    @extend .fa;
                    content: "\f0ac";
                    margin-right: 10px;
                    color: $text-light;
                }
            }
        }
        > div {
            > .row {
                position: relative;
                line-height: 30px;
                // background-color: rgba(0,0,0,0.1);
                // margin: 1px 0 1px 20px;
                padding: 0 10px;
                // border-bottom: 1px solid #AAA;
                // @include border-radius(4px);

                a:hover {
                    color: $color1;
                }

                i {
                    float: right;
                    // line-height: inherit;
                    margin-top: 7px;
                    color: #666;

                    &:hover {
                        color: #333;
                    }
                }

                a.area:before {
                    @extend .fa;
                    content: "\f0b1";
                    margin-right: 10px;
                    color: $text-light;
                }

                .icon16 {
                    // display: none;
                }
            }
        }
        .moreLink {
            display: none;
        }
    }

    .tab-member-sidebar {
        .head {
            display: none;
        }

        .row {
            h3 {
                // margin: 5px 0;
                display: none;
            }
            &:first-child {
                h3 {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: $screenTablet) {
    .content > .sidebar {
        width: 200px;
        margin-left: 10px;

        > div {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: $screenMobile) {
    .tooltip > span {
        display: none !important;
    }

    .content > .sidebar {
        width: 100%;
        float: none;
        margin: 0;

        > div {
            margin-bottom: 10px;
        }
    }
}


